*{
  box-sizing: border-box;
}
body {
  color: #222;
}
img {
  max-width: 100%;
}
main {
  padding: 10px;
  max-width: 900px;
  margin: 0px auto;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
  margin-top: 20px;
}
header a {
  text-decoration: none;
  color: inherit;
  
}
header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
  padding:2px;
  color:rgb(7, 155, 93)
}
header a.logo:hover{
  color:white;
  background-color: #333;
}

header nav {
  display: flex;
  gap: 15px;
  color:tomato;

}
div.post {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-columns: 0.9fr 1.1fr; */
  gap: 20px;
  margin-bottom: 30px;
}
@media  screen and (min-width:768px){
  div.post{
    grid-template-columns: 0.9fr 1.1fr;
  }
}
div.post div.texts h2 {
  margin: 0px;
  font-size: 1.5rem;
}
div.post p.info{
  margin: 6px 0;
  color:#888;
  font-size:0.8rem;
  font-weight: bold;
  display: flex;
  gap:10px;
}
div.post p.info a.author{
  color:#333;
}
div.post p.summary{
  margin:10px 0px;
  line-height: 1.4rem;
}
form.login,form.register{
  max-width: 400px;
  margin:0px auto;
}
input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding:5px 7px;
  border:2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
button{
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color:#fff;
  border-radius: 5px;
  padding:7px 0;
  cursor: pointer;
}
form.login h1 form.register h1{
  text-align: center;
}
div.post div.texts a{
  text-decoration: none;
  color:inherit;
}
div.post-page div.image{
  max-height:200px;
  display: flex;
  overflow: hidden;
}
div.post-page div.image img{
  object-fit: cover;
  object-position: center center;
  width:100%;
}
div.post-page a{
  color:#333;
  text-decoration: underline;
}
div.post-page h1{
  text-align: center;
  margin:10px 0px 5px 0px;
}
div.post-page time{
  text-align: center;
  display: block;
  color:#aaa;
  font-size: 0.7rem;
}
div.post-page div.author{
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.7rem;
  font-weight: bold;
}
div.post-page div.content {
  line-height:1.6rem;
}
div.edit-row{
  text-align: center;
  margin-bottom: 20px; 
}
div.post-page a.edit-btn{
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap:5px;
  color:#fff;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
}